<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.jpg">
<link rel="stylesheet" href="./css/styles.css"> 
</head>

<body>
    <div class="main-content">
{{>header}}
<p>Get your weather info here</p>
<form>
    <input placeholder="Location">
    <button>Search</button>
</form>
<p id="success"></p>
<p id="error"></p>
    </div>

{{>footer}}
<script src='/js/app.js'></script>
</body>
</html>